.carousel {
    width: 100%;
}

.sliderContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px 0;
    position: relative;
}

.slider {
    position: relative;
    height: 20vh;
    width: clamp(230px, 23vw, 450px);
    overflow: hidden;
    box-shadow: 1.4237079620361328px 1.4237079620361328px 6.264313697814941px 0px #9AF0F4;
}

.topRight {
    position: absolute;
    top: -1rem;
    right: -1rem;
    z-index: 100;
}

.topLeft {
    position: absolute;
    top: -1rem;
    left: -1rem;
}

.bottomRight {
    position: absolute;
    bottom: -1rem;
    right: -1rem;
}

.bottomLeft {
    position: absolute;
    bottom: -1rem;
    left: -1rem;
}

.sliderContainer .slider .image {
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    will-change: transform, opacity;
}

.sliderContainer .buttons {
    margin-top: 12px;
}

.sliderContainer .buttons button {
    outline: none;
    border: none;
    user-select: none;
    background-color: transparent;
    font-family: "Montserrat";
    transition: 0.07s ease-out transform;
}

.buttons {
    position: absolute;
    top: 40%;
    width: 135%;
    display: flex;
    justify-content: space-between;
}

.buttons button img {
    height: 30px;
    width: 20px;
}

.sliderContainer .buttons button:first-of-type {
    margin-right: 15px;
}

.sliderContainer .buttons button:active {
    transform: scale(0.85) skewY(-5deg) rotate(5deg);
}

.thumbnails {
    display: flex;
    justify-content: center;
}

.thumbnails .thumbnailContainer {
    overflow: hidden;
    position: relative;
    height: 120px;
    width: 90px;
}

@media only screen and (max-width: 375px) {
    .thumbnails .thumbnailContainer {
        height: 70px;
        width: 50px;
    }
}

.thumbnails .thumbnailContainer:not(:last-of-type) {
    margin-right: 5px;
}

.thumbnails .thumbnailContainer img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.thumbnails .thumbnailContainer .activeIndicator {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
    transform: scaleX(0);
    transform-origin: left;
    background-color: #1f1f1f;
    transition: 1s cubic-bezier(0.56, 0.03, 0.12, 1.04) transform;
}

.thumbnails .thumbnailContainer .activeIndicator.active {
    transform: scaleX(1);
}

@media (min-height: 1000px) {
    .slider {
        height: 15vh;
        /* width: 450px; */
    }

}

@media(max-width: 500px) {
    .slider {
        height: 200px;
        /* width: 300px; */
    }

}

@media(max-width: 450px) {}

@media(max-width: 400px) {
    .slider {
        /* width: 275px; */
        height: 190px;
    }
}

@media(max-height: 720px) {
    .sliderContainer {
        margin: 15px 0;
    }

    .slider {
        width: 210px;
        height: 15vh;
    }
    .buttons{
        top: 30%;
        scale: 0.85;
        width: 170%;
    }

}

@media(max-height: 600px) {
    .slider {
        width: 200px;
        height: 20vh;
    }
}