.countdown {
  display: flex;
  gap: 0.2rem;
  width: 100%;
  height: 70px;
  justify-content: center;
  align-items: center;
  color: var(--primary);

  /* HUD Glow */
  text-shadow: 0px 0px 8px rgba(154, 240, 244, 0.7);

  font-size: 1rem;
  font-family: "Alacrity Sans";

  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.label {
  gap: 0.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  font-size: 1.1rem;
  min-width: 50px;
  min-height: 50px;
  align-items: center;
}

.numbers {
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  font-family: "Audiowide";
  text-shadow: 0px 0px 8px rgba(154, 240, 244, 0.7);
}

.card-flip {
  animation: card-flip 0.6s;
}

.labels {
  font-size: 0.7rem;
  font-family: "Alacrity Sans", sans-serif;
}

// @media screen and (max-width: 500px) {
//   .countdown {
//     height: 50px;
//   }
//   .numbers {
//     font-size: 1.2rem;
//   }
//   .label {
//     font-size: 0.8rem;
//     min-width: 40px;
//     min-height: 40px;
//   }
//   .labels {
//     font-size: 0.5rem;
//   }
// }

@media screen and (max-height: 700px) {
  .countdown[data-ismobile="true"] {
    display: none !important;
  }
}

@keyframes card-flip {
  0% {
    background-color: rgba(255, 255, 255, 0.4);
    transform: rotateX(0deg);
  }

  50% {
    background-color: rgba(255, 255, 255, 0.4);
    opacity: 0;
    transform: rotateX(180deg);
  }

  100% {
    background-color: rgba(255, 255, 255, 0);
    transform: rotateX(360deg);
  }
}
