.lefthelm {
    position: absolute;
    top: 0;
    left: 0;
    height: 100svh;
    object-fit: contain;

    pointer-events: none;

    @media screen and (max-width: 600px) {
        display: none;
    }
}

.righthelm {
    position: absolute;
    top: 0;
    right: 0;
    height: 100svh;
    object-fit: contain;

    pointer-events: none;

    @media screen and (max-width: 600px) {
        display: none;
    }
}

.tophud {
    // position: absolute;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    height: clamp(100px, 10vw, 170px);
    object-fit: contain;

    // visibility: visible;
    // opacity: 1;

    @media screen and (max-height: 700px) {
        height: 100px;
    }
}

.bottomHUD {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    object-fit: contain;
    width: auto;
    height: clamp(60px, 6vw, 100px);

    @media screen and (max-height: 700px) {
        height: 60px;
    }
}

.logo {
    // position: absolute;
    position: fixed;
    top: 0.3vw;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    height: 70px;
    // height: 5vw;
    object-fit: contain;

    @media screen and (max-height: 700px),
    screen and (max-width: 1100px) {
        top: 6px;
        height: 40px;
    }
}

.hamMenuButton {
    width: clamp(150px, 13vw, 240px);
    aspect-ratio: 2.7;

    outline: none;
    border: none;

    background-image: url("@assets/landing/hamMenuButton.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    background-color: transparent;

    // position: absolute;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: clamp(90px, calc(9.4vw - 7px), 154px);
    pointer-events: all;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: border-color 0.2s ease-in-out;

    // visibility: visible;
    // opacity: 1;

    @media screen and (max-height: 700px) {
        top: 89px;
        width: 140px;
    }

    & * {
        transition: all 0.2s ease-in-out;
    }

    span {
        position: relative;
        top: -2px;

        font-size: 1rem;
        font-weight: 200;
        text-transform: uppercase;
        text-shadow: 0px 0px 14.815px rgba(154, 240, 244, 0.7);
        color: inherit;
        padding-inline: 0.5rem;
        transition: all 0.2s ease-in-out;

        @media screen and (max-height: 700px),
        screen and (max-width: 600px) {
            font-size: 0.7rem;
        }
    }

    &:hover {
        cursor: pointer;
        color: var(--hover-link);
        text-shadow:
            0px 0px 24.402px rgba(198, 50, 50, 0.86),
            0px 0px 3.754px rgba(198, 50, 50, 0.8);

        div div {
            background-color: var(--hover-link);
        }

        span {
            text-shadow: 0px 0px 14.815px var(--hover-link);
        }
    }
}

.devPageCodes {
    width: 100lvw;
    // height: 100dvh;
    // top: 50vh;
    height: auto;
    object-fit: contain;

    @media screen and (max-width: 1100px) {
        height: 100dvh;
        width: auto;
    }
}

.pageContainer {
    width: 100lvw;
    height: 100dvh;
    position: relative;
    background-image: url(/images/DevPage-Backdrop.png);
    background-size: 100lvw 100dvh;
    position: fixed;
    inset: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}

.arcGrid {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-45%);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: calc(1.743478260869565 * 35vw);
    height: 35vw;

    @media screen and (min-height: 700px) {
        width: calc(1.743478260869565 * 30vw);
        height: 30vw;
    }
}

.firstCol {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    div {
        width: 100%;
    }
}

.secondCol {
    display: flex;
    justify-content: center;
    align-items: center;
}

.thirdCol {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;

    div {
        width: 100%;
    }
}

.arcReactor {
    object-fit: contain;
    height: auto;
    width: 85%;
    // width: clamp(150px, 20vw, 270px);
}

.folder {
    width: 100%;
    height: auto;
    // object-fit: contain;
}

.topLeft,
.topRight,
.botLeft,
.botRight {
    position: absolute;
    width: 10%;
    height: auto;
}

.topLeft,
.botLeft {
    left: 33%;
}

.topRight,
.botRight {
    right: 33%;
}

.topLeft,
.topRight {
    top: 26%;
}

.botLeft,
.botRight {
    bottom: 26%;
}