.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  inset: 0;
  // z-index: 4;

  // background-image: url("/images/cockpit.png");
  background-size: cover;
  opacity: 0;
  pointer-events: none;

  // *{
  //   opacity: 0;
  //   visibility: hidden;
  // }
}

.lefthelm {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  object-fit: contain;

  @media screen and (max-width: 600px) {
    display: none;
  }
}

.righthelm {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  object-fit: contain;

  @media screen and (max-width: 600px) {
    display: none;
  }
}

.crosshair {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: max(10vw, 80px);
  height: max(10vw, 80px);
  object-fit: contain;
}

.tophud {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  height: max(10vw, 100px);
  object-fit: contain;

  // visibility: visible;
  // opacity: 1;

  @media screen and (max-height: 700px) {
    height: 100px;
  }
}

.logo {
  position: absolute;
  top: 1.5vw;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  height: 35px;
  object-fit: contain;

  @media screen and (max-height: 700px) {
    top: 15px;
    height: 25px;
  }
}

.hamMenuButton {
  width: max(12vw, 120px);
  aspect-ratio: 3/1;
  border-color: var(--secondary);
  background-color: transparent;
  border-width: 1px;
  border-style: solid;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: max(calc(10vw - 7px), 92px);
  pointer-events: all;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: border-color 0.2s ease-in-out;

  // visibility: visible;
  // opacity: 1;

  @media screen and (max-height: 700px) {
    top: 94px;
    width: 110px;
  }

  & * {
    transition: all 0.2s ease-in-out;
  }

  span {
    font-size: 1.4rem;
    font-weight: 200;
    text-transform: uppercase;
    text-shadow: 0px 0px 14.815px rgba(154, 240, 244, 0.7);
    color: inherit;
    padding-inline: 0.5rem;
    transition: all 0.2s ease-in-out;

    @media screen and (max-height: 700px), screen and (max-width: 600px) {
      font-size: 1rem;
    }
  }
  &:hover {
    cursor: pointer;
    border-color: #b16060;
    text-shadow: 0px 0px 14.815px var(--hover-link);
    color: var(--hover-link);

    div div {
      background-color: var(--hover-link);
    }

    span {
      text-shadow: 0px 0px 14.815px var(--hover-link);
    }
  }
}

.navigatorWrapper {
  position: absolute;
  top: 25%;
  bottom: 15%;
  left: 10%;
  width: 280px;
  pointer-events: all;

  // border: 2px solid var(--primary);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  img {
    width: 100%;
    height: auto;
    object-fit: contain;
    mix-blend-mode: screen;
  }

  h1 {
    text-shadow: 0px 0px 27.68px rgba(136, 196, 200, 0.7),
      0px 0px 4.471px rgba(134, 244, 232, 0.8);
    text-align: center;
  }

  .navigator {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    flex-grow: 1;
    align-items: center;

    svg {
      width: 100%;
      height: auto;
    }

    .navigatorLinks {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      flex-grow: 1;
      align-items: flex-start;
      justify-content: center;
      padding: 0 15%;
      align-self: flex-start;

      button {
        background-color: transparent;
        border: none;
        outline: none;
        flex-shrink: 0;
        height: 20%;
        font-size: 1.5rem;

        color: var(--primary-link);
        font-family: "Space Grotesk", sans-serif;
        text-shadow: 0px 0px 30.591px rgba(136, 196, 200, 0.7),
          0px 0px 4.942px rgba(134, 244, 232, 0.8);
        font-weight: 700;

        transition: all 0.2s ease-in-out;

        &:hover {
          cursor: pointer;
          text-shadow: 0px 0px 30.591px #b16060,
            0px 0px 4.706px rgba(251, 186, 188, 0.8);
          color: var(--hover-link);
        }

        &.buttonActive {
          text-shadow: 0px 0px 30.591px #b16060,
            0px 0px 4.706px rgba(251, 186, 188, 0.8);
          color: var(--hover-link);
        }
      }
    }
  }
}

.regEventsWrapper {
  position: absolute;
  top: 20%;
  bottom: 15%;
  right: 10%;
  width: 280px;
  pointer-events: all;

  // border: 2px solid var(--primary);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  a {
    position: relative;
    text-decoration: none;
    color: var(--primary-link);
    font-family: "Space Grotesk", sans-serif;
    text-shadow: 0px 0px 30.591px rgba(136, 196, 200, 0.7),
      0px 0px 4.942px rgba(134, 244, 232, 0.8);
    font-weight: 700;
    font-size: 1.5rem;
    transition: all 0.2s ease-in-out;

    height: fit-content;

    display: grid;
    place-items: center;

    svg {
      width: 85%;
      height: auto;
      // position: absolute;
    }

    path,
    rect,
    span {
      transition: all 0.2s ease-in-out;
    }

    span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -40%);
      font-size: 1.1rem;
    }

    &:hover {
      cursor: pointer;
      span {
        text-shadow: 0px 0px 30.591px #b16060,
          0px 0px 4.706px rgba(251, 186, 188, 0.8);
        color: var(--hover-link);
      }

      path[stroke="#9AF0F4"] {
        stroke: var(--hover-link);
      }
      path[fill="#9AF0F4"] {
        fill: var(--hover-link);
      }
      rect[fill="#9AF0F4"] {
        fill: var(--hover-link);
      }
      g {
        filter: url(#filter0_d_570_154);
      }
    }
  }

  h1 {
    text-shadow: 0px 0px 27.68px rgba(136, 196, 200, 0.7),
      0px 0px 4.471px rgba(134, 244, 232, 0.8);
    text-align: center;
    font-size: 1.4rem;
    margin-top: 20px;
  }
  & > svg {
    width: 100%;
    height: auto;
  }
}

.eventsWrapper {
  background: url("@assets/landing/events_landing_bg.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 362px;
  width: 100%;
  flex-grow: 1;
  flex-shrink: 0;

  padding-block: 10%;

  display: flex;
  flex-direction: column;
  align-items: center;

  & > img {
    width: 80%;
    height: auto;
  }

  .eventsCarousel {
    width: 80%;
    height: 50%;
    display: flex;
    flex-direction: row;
    margin-inline: 10%;

    justify-content: space-between;
  }

  .leftArrow {
    width: 20%;
    height: auto;
    background: url("@assets/landing/left-arrow.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    transition: scale 0.2s ease-in-out;

    &:hover {
      cursor: pointer;
      scale: 1.3;
    }
  }

  .rightArrow {
    width: 20%;
    height: auto;
    background: url("@assets/landing/right-arrow.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    transition: scale 0.2s ease-in-out;

    &:hover {
      cursor: pointer;
      scale: 1.3;
    }
  }

  .carouselWindow {
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("@assets/landing/CarouselWindow.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-width: 10px;
    overflow: hidden;

    position: relative;

    &::after {
      content: "";
      width: 90%;
      aspect-ratio: 1/1;
      position: absolute;
      background: rgba(136, 196, 200, 0.7);
      mix-blend-mode: color;
      border-radius: 50%;
    }

    img {
      width: 100px;
      aspect-ratio: 1/1;
      // object-fit: contain;
      z-index: -1;
      border-radius: 50%;
    }

    & > div > div {
      place-items: center;
    }
  }

  .eventsInfo {
    height: auto;
    width: 100%;

    flex-shrink: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;

    h2 {
      text-align: center;
      text-shadow: 0px 0px 36.347px rgba(136, 196, 200, 0.7),
        0px 0px 5.871px rgba(134, 244, 232, 0.8);
      width: 80%;
    }
    p {
      text-align: center;
      color: var(--grey-text);
      text-shadow: 0px 0px 36.347px rgba(197, 197, 197, 0.7),
        0px 0px 5.871px rgba(197, 197, 197, 0.8);
    }
  }
}

.mobileLinks {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  position: absolute;
  top: 170px;
  left: 50%;
  transform: translateX(-50%);

  height: 33%;
  width: 80%;

  pointer-events: all;

  button {
    background-color: transparent;
    border: none;
    pointer-events: all;
    text-shadow: 0px 0px 27.356px rgba(136, 196, 200, 0.7),
      0px 0px 4.419px rgba(134, 244, 232, 0.8);
    font-size: 1.3rem;

    &.active{
      text-shadow: 0px 0px 27.356px #b16060,
      0px 0px 4.419px rgba(251, 186, 188, 0.8);
      color: var(--hover-link);
    }
  }
}

.mobileBottom {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;

  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;

  *{
    pointer-events: all;
  }
  pointer-events: all;

  a {
    position: relative;
    text-decoration: none;
    color: var(--primary-link);
    font-family: "Space Grotesk", sans-serif;
    text-shadow: 0px 0px 30.591px rgba(136, 196, 200, 0.7),
      0px 0px 4.942px rgba(134, 244, 232, 0.8);
    font-weight: 700;
    font-size: 1.5rem;
    // transition: all 0.2s ease-in-out;

    height: fit-content;

    display: grid;
    place-items: center;

    svg {
      width: 75%;
      height: auto;
      // position: absolute;
      
    }

    path,
    rect,
    span {
      transition: all 0.2s ease-in-out;
    }

    span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -40%);
      font-size: 1.1rem;
    }
  }
}

@media screen and (max-height: 700px) {
  .navigatorWrapper,
  .regEventsWrapper {
    // top: 20%;
    bottom: 5%;
  }

  .mobileLinks {
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

@media screen and (max-width: 800px) {
  .regEventsWrapper,
  .navigatorWrapper {
    display: none;
  }
  .mobileBottom, .mobileLinks {
    display: flex;
  }
}
