.pageContainer {
  --name-sp: 1%;
  --email-sp: 8%;
  --phone-sp: 8%;
  --gender-sp: 7%;
  --interests-sp: 3%;
  --events-sp: 1%;
  --colleges-sp: 5%;
  --year-sp: 8%;
  --states-sp: 7%;
  --city-sp: 3%;
}

.pageContainer {
  width: 100lvw;
  height: 100dvh;
  position: relative;
  background-image: url(/images/starsAsset.png);
  background-size: 100lvw 100dvh;
  position: fixed;
  inset: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  .leftHelm {
    position: absolute;
    top: 0;
    left: 0;
    height: 100dvh;
    width: auto;
  }
  .guideText{
    text-decoration: underline;
    color:rgba(136, 196, 200, 0.7);
    position: fixed;
    bottom: 2vh;
    left: 50%;
    transform: translateX(-50%);
    font-family: Space Grotesk;
  }
  .mobileGuideText{
    text-decoration: underline;
    color:rgba(136, 196, 200, 0.7);
    position: relative;
    z-index: 2;
    bottom: min(40px,8vh);
    font-family: Space Grotesk;
    // left: 50%;
    // transform: translateX(-50%);
  }
  .rightHelm {
    position: absolute;
    top: 0;
    right: 0;
    height: 100dvh;
    width: auto;
  }
  .pageWrapper {
    height: 100%;
    width: 100%;
    position: relative;
    .hud {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: auto;
      height: clamp(100px, 10vw, 170px);
      object-fit: contain;
      @media screen and (max-height: 700px) {
        height: 100px;
      }
    }
  }
}
.homeBtn {
  //   width: max(12vw, 120px);
  //   aspect-ratio: 3/1;
  //   border-color: var(--secondary);
  //   border-width: 1px;
  //   border-style: solid;
  //   position: absolute;
  //   left: 50%;
  //   transform: translateX(-50%);
  //   top: max(calc(10vw - 7px), 92px);

  //   display: flex;
  //   align-items: center;
  //   justify-content: center;

  //   transition: border-color 0.2s ease-in-out;
  //   z-index: 2;

  //   svg * {
  //     transition: all 0.2s ease-in-out;
  //   }

  //   span {
  //     font-size: max(1rem, 1.5vw);
  //     font-weight: 200;
  //     text-transform: uppercase;
  //     text-shadow: 0px 0px 14.815px rgba(154, 240, 244, 0.7);
  //     color: inherit;
  //     padding-inline: 0.5rem;
  //     transition: all 0.2s ease-in-out;
  //   }
  //   &:hover {
  //     cursor: pointer;
  //     border-color: #b16060;
  //     text-shadow: 0px 0px 14.815px var(--hover-link);
  //     color: var(--hover-link);

  //     svg {
  //       g {
  //         filter: none;
  //       }
  //       path {
  //         stroke: var(--hover-link);
  //       }
  //     }
  //   }
  // }
  width: clamp(150px, 13vw, 240px);
  aspect-ratio: 2.7;

  outline: none;
  border: none;

  background-image: url("@assets/landing/hamMenuButton.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  background-color: transparent;

  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: clamp(90px, calc(9.4vw - 7px), 154px);
  pointer-events: all;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: border-color 0.2s ease-in-out;

  // visibility: visible;
  // opacity: 1;
  z-index: 1;
  @media screen and (max-height: 700px) {
    top: 90px;
    width: 140px;
  }

  & * {
    transition: all 0.2s ease-in-out;
  }

  span {
    position: relative;
    top: -2px;

    font-size: 1rem;
    font-weight: 200;
    text-transform: uppercase;
    text-shadow: 0px 0px 14.815px rgba(154, 240, 244, 0.7);
    color: inherit;
    padding-inline: 0.5rem;
    transition: all 0.2s ease-in-out;

    @media screen and (max-height: 700px), screen and (max-width: 600px) {
      font-size: 0.7rem;
    }
  }
  &:hover {
    cursor: pointer;
    color: var(--hover-link);
    text-shadow:
      0px 0px 24.402px rgba(198, 50, 50, 0.86),
      0px 0px 3.754px rgba(198, 50, 50, 0.8);

    div div {
      background-color: var(--hover-link);
    }

    span {
      text-shadow: 0px 0px 14.815px var(--hover-link);
    }
  }
}
.globeImage {
  width: auto;
  height: 65vh;
}

// .regContainer{
//   width: 100%;
//   position: relative;
// }

.content {
  width: 100%;
  height: 100%;
  position: relative;
  inset: 0;
  mix-blend-mode: exclusion;
  overflow: hidden;
  .registerBtn
  // {
  //   width: max(12vw, 120px);
  //   aspect-ratio: 3/1;
  //   border-color: var(--secondary);
  //   border-width: 1px;
  //   border-style: solid;
  //   position: fixed;
  //   left: 50%;
  //   transform: translateX(-50%);
  //   bottom: max(calc(10vw - 7px), 92px);
  // background:rgba(125, 238, 243, 0.3);
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  //   letter-spacing: 2px;
  //   font-size: 1.2rem;
  //   transition: all 0.2s ease-in-out;
  //   // transition: background-color 0.2s ease-in-out;
  //   z-index: 2;
  //   bottom: -5vh;
  // }
  {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    outline: inherit;
    position: fixed;
    text-decoration: none;
    color: var(--primary-link);
    font-family: "Space Grotesk", sans-serif;
    text-shadow:
      0px 0px 30.591px rgba(136, 196, 200, 0.7),
      0px 0px 4.942px rgba(134, 244, 232, 0.8);
    font-weight: 700;
    font-size: 1.5rem;
    transition: all 0.2s ease-in-out;

    height: fit-content;

    display: grid;
    place-items: center;
    background: none;
    border: none;
    left: 50%;
    transform: translateX(-50%);
    bottom: -5vh;
    svg {
      width: 90%;
      height: auto;
      // position: absolute;
    }

    path,
    rect,
    span {
      transition: all 0.2s ease-in-out;
    }

    span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -40%);
      font-size: 1.4rem;
    }

    &:hover {
      cursor: pointer;
      span {
        text-shadow:
          0px 0px 24.402px rgba(198, 50, 50, 0.86),
          0px 0px 3.754px rgba(198, 50, 50, 0.8);
        color: var(--hover-link);
      }

      path[stroke="#9AF0F4"] {
        stroke: var(--hover-link);
      }
      path[fill="#9AF0F4"] {
        fill: var(--hover-link);
      }
      rect[fill="#9AF0F4"] {
        fill: var(--hover-link);
      }
      g[filter="url(#filter0_d_1880_3147)"] {
        filter: url(#filter0_d_570_154);
        opacity: 0.2;
        path[fill="#3E6567"] {
          fill: var(--hover-link);
        }
      }
    }
  }
}
.imgContainer {
  position: absolute;
  top: 50%;
  transform: translateY(-40%);
  margin-inline: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.heading {
  position: absolute;
  top: max(2vw, 10px);
  left: 50%;
  transform: translateX(-50%);
  font-size: max(1rem, 1.5vw);
  font-weight: 200;
  text-transform: uppercase;
  text-shadow: 0px 0px 14.815px rgba(154, 240, 244, 0.7);
  color: inherit;
  padding-inline: 0.5rem;
  transition: all 0.2s ease-in-out;
}
.formContainer {
  position: absolute;
  top: 50%;
  transform: translateY(-40%);
  margin-inline: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60%;
  height: 65vh;
}
.leftSide {
  width: 48%;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100%;
  justify-content: space-evenly;
}
.rightSide {
  width: 48%;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  justify-content: space-evenly;
  margin-left: 4%;
}
input {
  background: transparent;
  border: none;
  font-size: 1.1rem;
  color: white;
  font-family: "Space Grotesk";
  text-transform: uppercase;
  font-weight: 700;
}
input:focus {
  outline: none;
}
.name {
  position: relative;
  right: 5%;
  top: -5%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: calc(75% - var(--name-sp));
  margin-right: var(--name-sp);
  inset: 0;
}
.name > input {
  width: 51%;
}
.name > img {
  width: 100%;
}
.name label {
  font-size: 1.5rem;
  position: absolute;
  top: 35%;
}
.email {
  position: relative;
  right: 5%;
  top: -12%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  inset: 0;
  top: -5%;
  width: calc(75% - var(--email-sp));
  margin-right: var(--email-sp);
}
.email > img {
  width: 100%;
}
.email label {
  font-size: 1.5rem;
  position: absolute;
  top: 55%;
}
.email > input {
  width: 56%;
}
.phone {
  position: relative;
  right: 10%;
  top: -10%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: calc(75% - var(--phone-sp));
  margin-right: var(--phone-sp);
  inset: 0;
}
.phone img {
  width: 100%;
}
.phone > input {
  width: 100%;
}
.phone label {
  font-size: 1.5rem;
  position: absolute;
  top: 105%;
}
.gender {
  position: relative;
  right: 10%;
  top: -2%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: calc(75% - var(--gender-sp));
  margin-right: var(--gender-sp);
  inset: 0;
  top: 7%;
}
.gender > img {
  width: 100%;
}
.checkboxContainer {
  position: absolute;
  display: flex;
  width: 65%;
  height: 40%;
  justify-content: flex-start;
  align-items: center;
  bottom: 45%;
  gap: 5%;
}
.gender input {
  margin-right: 10px;
  border: none;
  outline: none;
  padding: 0;
}
label {
  text-shadow: 0px 0px 14.815px rgba(154, 240, 244, 0.7);
}
.gender input:focus {
  outline: none;
}
.checkboxItem {
  display: flex;
  align-items: center;
}

.customCheckbox {
  width: 15px;
  height: 15px;
  border: 2px solid var(--primary);
  margin-right: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gender > label {
  font-size: 1.5rem;
  // position: absolute;
  // top: 105%;
}
.checked {
  background-color: var(--primary);
}

.checkmark {
  color: var(--primary);
}

.genderLabel {
  font-size: 16px;
  color: var(--primary);
}
.interests {
  position: relative;
  right: 5%;
  top: -10%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: calc(75% - var(--interests-sp));
  margin-right: var(--interests-sp);
  inset: 0;
}
.interests > img {
  width: 100%;
}
.interestsWrapper {
  width: 45%;
  position: absolute !important;
  bottom: 36% !important;
  border-bottom: none;
  display: flex;
  justify-content: space-between;
  height: 30%;
}
.interests label {
  font-size: 1.5rem;
  text-transform: uppercase;
}
.events {
  position: relative;
  right: -5%;
  top: 2%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: calc(75% - var(--events-sp));
  margin-left: var(--events-sp);
  inset: 0;
  top: 2%;
}
.events img {
  width: 100%;
}
.eventsWrapper {
  width: 54%;
  top: -40% !important;
  height: 40%;
  position: absolute !important;
}
.events label {
  position: absolute;
  top: 22%;
  font-size: 1.5rem;
  text-transform: uppercase;
}
.colleges {
  position: relative;
  right: -5%;
  top: 2%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: calc(75% - var(--colleges-sp));
  margin-left: var(--colleges-sp);
  inset: 0;
  top: -1%;
}
.colleges img {
  width: 100%;
}
.collegeWrapper {
  width: 61%;
  width: 54%;
  top: -50% !important;
  height: 40%;
  position: absolute !important;
}
.colleges label {
  position: absolute;
  top: 35%;
  font-size: 1.5rem;
  text-transform: uppercase;
}
.year > .checkboxContainer {
  width: 70%;
  justify-content: space-between;
}
.year {
  position: relative;
  right: -5%;
  top: 2%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: calc(75% - var(--year-sp));
  margin-left: var(--year-sp);
  inset: 0;
  top: 9%;
}
.year > .checkboxContainer {
  width: 100%;
  top: -60%;
  bottom: 0;
  width: 70% !important;
  justify-content: space-between;
}

.year img {
  width: 100%;
}
.year label {
  text-transform: uppercase;
  font-size: 1.5rem;
}
.state label {
  text-transform: uppercase;
  font-size: 1.5rem;
}
.city {
  position: relative;
  right: -5%;
  top: 2%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: calc(75% - var(--city-sp));
  margin-left: var(--city-sp);
  inset: 0;
}
.city img {
  width: 100%;
}
.city label {
  text-transform: uppercase;
  font-size: 1.5rem;
}
.cityWrapper {
  width: 45%;
  top: 39%;
  position: absolute !important;
  max-height: 40%;
}
.state {
  position: relative;
  right: -5%;
  top: 2%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: calc(75% - var(--states-sp));
  margin-left: var(--states-sp);
  inset: 0;
  top: 7.5%;
}
.state img {
  width: 100%;
}
.stateWrapper {
  width: 65%;
  position: absolute !important;
  top: 16%;
  max-height: 20%;
  height: 20%;
}
.successText {
  position: absolute;
  bottom: -5vh;
  transform: translateX(-50%);
  left: 50%;
  text-transform: uppercase;
  text-align: center;
}
.successText::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;

  margin-left: 5px;
  left: 0;
  animation:
    cursor 0.8s infinite,
    typing 3s steps(51) forwards;
  background-color: black;
}
@keyframes typing {
  100% {
    left: 100%;
  }
}
@keyframes cursor {
  100% {
    border-left: 1px solid var(--primary);
  }
}
::placeholder {
  // font-size: "1.2rem";
  opacity: 1;
  color: #a9a9a9;
  font-family: "Space Grotesk";
  font-weight: 500;
  text-shadow: 0px 0px 4.815px rgba(183, 255, 255, 0.8);
  text-transform: uppercase;
  font-size: 1rem;
}
input:autofill {
  background: transparent !important;
  border: none !important;
  color: white;
}
// @media (min-width: 1000px), (max-height:650px) {
//     .globeImage{
//         max-height: 65vh;
//     }
// }
.mobileContent {
  top: 0;
  left: 0;
  height: auto;
  width: 100vw;
  align-items: center;
  justify-content: center;
}
.leftTop,
.rightTop {
  width: 50%;
  height: 14vh;
  position: absolute;
}
.leftTop {
  left: 0;
}
.rightTop {
  right: 0;
}
.middleTop {
  // width: 100%;
  // height: 10vh;
  // position: absolute;
  // inset: 0;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  height: clamp(100px, 10vw, 170px);
  object-fit: contain;
  @media screen and (max-height: 700px) {
    height: 100px;
  }
}
.mobileContent {
  display: none;
}
.leftTop,
.rightTop,
.middleTop {
  display: none;
}
.mobileContent {
  display: none;
}
.topContainer {
  height: 18vh;
  display: none;
}

// .registerBtn:hover{
//   cursor: pointer;
//   border-color: #b16060;
//   text-shadow: 0px 0px 14.815px var(--hover-link);
//   background-color:  #b1606045;
//   color: #b16060;
//   // background-color: #b16060;

// }
// .registerBtn:hover span{
//   // color: #b16060;
//   color: #b16060;
// }
.name .errorMessage {
  position: absolute;
  top: -15%;
  color: #b16060;
}
.events .errorMessage {
  position: absolute;
  top: -50%;
  color: #b16060;
}
.email .errorMessage {
  position: absolute;
  top: -20%;
  color: #b16060;
}
.phone .errorMessage {
  position: absolute;
  top: -40%;
  color: #b16060;
}
.gender .errorMessage {
  position: absolute;
  top: -2%;
  color: #b16060;
}
.interests .errorMessage {
  position: absolute;
  top: 95%;
  color: #b16060;
}
.colleges .errorMessage {
  position: absolute;
  top: -65%;
  color: #b16060;
}
.year .errorMessage {
  position: absolute;
  top: 95%;
  color: #b16060;
}
.state .errorMessage {
  position: absolute;
  top: -3%;
  color: #b16060;
}
.city .errorMessage {
  position: absolute;
  top: 30%;
  color: #b16060;
}
.recaptcha{
  position: fixed;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
}
@media (min-width: 1000px), (max-height: 650px) {

  .heading{
    top: 3vh;
  }
}
input:autofill {
  background: transparent;
  border: none;
  font-size: 1.1rem;
}

input:-webkit-autofill {
  background: transparent;
  border: none;
  font-size: 1.1rem;
}
.scrollBar {
  position: fixed;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  overflow-y: hidden;
  display: none;
}
.inScroll {
  position: absolute;
  left: 1px;
  // top: 0;
  top: 68%;
}
.captchaContainer {
  position: absolute;
  bottom: -5vh;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
}

@media only screen and (max-width: 1400px) {
  .colleges label {
    // bottom: 10%;
  }
}
@media only screen and (max-width: 1200px) {
  .gender .checkboxContainer {
    bottom: 50%;
  }
  .eventsWrapper {
    top: -50% !important;
  }
  // .colleges label{
  //   bottom: -25%;
  // }
}
@media only screen and (max-width: 1100px) {
  .interestsWrapper {
    width: max-content;
    right: 55%;

    // bottom: 50% !important;
  }
  // .gender  .checkboxContainer{
  //   // bottom: 50%;
  //   width: max-content;
  // gap: 10px;
  // left: -10%;
  // top: 0;
  // }
  .interestsWrapper {
    // width: max-content;
    width: 45%;
    bottom: 42% !important;
    // top: 15%;
  }
  .cityWrapper {
    top: 0;
  }
  .colleges label {
    bottom: -10%;
  }
}
@media only screen and (max-width: 992px) {
  .gender .checkboxContainer {
    bottom: 60%;
  }
  .interestsWrapper {
    bottom: 45% !important;
  }
  .interestsWrapper {
    width: 45%;
  }
  .cityWrapper {
    top: 0;
  }
}
@media only screen and (max-width: 920px) {
  .eventsWrapper {
    right: 5%;
  }
}
@media only screen and (max-width: 811px) {
  // .gender .checkboxContainer{
  //   display: flex;
  // justify-content: flex-start;
  // }
  // .gender .checkboxContainer{
  //   width: min-content;
  //   top: -100%;
  //   flex-wrap: wrap;
  //   // right: 0 !important;
  //   left: 20% !important;
  // }
  .collegeWrapper {
    width: max-content;
  }
  .eventsWrapper {
    width: max-content;
    top: -50% !important;
  }
  .colleges label {
    bottom: -30%;
  }
}
@media only screen and (max-width: 810px) {
  .hud {
    display: none;
  }
  .leftHelm {
    display: none;
  }
  .rightHelm {
    display: none;
  }
  .content {
    display: none;
  }
  .heading {
    font-size: 2rem;
    top: 3vh;
  }
  .mobileContent {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: flex;
    overflow-y: scroll;
  }
  .topContainer {
    display: block;
  }
  .leftTop,
  .rightTop,
  .middleTop {
    display: block;
  }
  .scrollBar {
    display: block;
  }
}
@media only screen and (max-width: 768px) {
}
@media only screen and (max-width: 600px) {
}
@media only screen and (max-width: 600px) {
}
