.formWrapper {
  width: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-self: flex-end;
  right: 0;
  padding-bottom: 2rem;
  width: 86%;
  padding-right: 2rem;

  label {
    font-size: 1.5rem;
    text-transform: uppercase;
  }
}
.formWrapper img {
  width: 100%;
}
input {
  width: 100%;
}
.guideText{
  text-decoration: underline;
  color: rgba(136, 196, 200, 0.7);
  // position: fixed;
  left: 50%;
  transform: translateX(-50%);
}
.checkboxContainer {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  bottom: 45%;
  height: 40px;
  gap: 5%;
}
.gender input:focus {
  outline: none;
}
.checkboxItem {
  display: flex;
  align-items: center;
}

.customCheckbox {
  width: 20px;
  height: 20px;
  border: 2px solid var(--primary);
  // border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.checked {
  background-color: var(--primary);
}

.checkmark {
  color: var(--primary);
}
.regBtnWrapper{
  display: flex;
  justify-content: center;
  
}
.registerBtn
// {
//   width: max(12vw, 120px);
//   aspect-ratio: 3/1;
//   border-color: var(--secondary);
//   border-width: 1px;
//   border-style: solid;
//   position: fixed;
//   left: 50%;
//   transform: translateX(-50%);
//   bottom: max(calc(10vw - 7px), 92px);
// background:rgba(125, 238, 243, 0.3);
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   letter-spacing: 2px;
//   font-size: 1.2rem;
//   transition: all 0.2s ease-in-out;
//   // transition: background-color 0.2s ease-in-out;
//   z-index: 2;
//   bottom: -5vh;
// }
{
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  outline: inherit;
  position: relative;
  text-decoration: none;
  color: var(--primary-link);
  font-family: "Space Grotesk", sans-serif;
  text-shadow:
    0px 0px 30.591px rgba(136, 196, 200, 0.7),
    0px 0px 4.942px rgba(134, 244, 232, 0.8);
  font-weight: 700;
  font-size: 1.5rem;
  transition: all 0.2s ease-in-out;

  height: fit-content;

  display: grid;
  place-items: center;
  background: none;
  border: none;
  // left: 50%;
  // transform: translateX(-50%);
  bottom: 0vh;
  scale: 0.7;
  svg {
    width: 90%;
    height: auto;
    // position: absolute;
  }

  path,
  rect,
  span {
    transition: all 0.2s ease-in-out;
  }

  span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    font-size: 1.4rem;
  }

  &:hover {
    cursor: pointer;
    span {
      text-shadow:
        0px 0px 24.402px rgba(198, 50, 50, 0.86),
        0px 0px 3.754px rgba(198, 50, 50, 0.8);
      color: var(--hover-link);
    }

    path[stroke="#9AF0F4"] {
      stroke: var(--hover-link);
    }
    path[fill="#9AF0F4"] {
      fill: var(--hover-link);
    }
    rect[fill="#9AF0F4"] {
      fill: var(--hover-link);
    }
    g[filter="url(#filter0_d_1880_3147)"] {
      filter: url(#filter0_d_570_154);
      opacity: 0.2;
      path[fill="#3E6567"] {
        fill: var(--hover-link);
      }
    }
  }
}
.checkboxItem > label {
  font-size: 1rem;
}
.mobileForm {
  align-self: flex-end;
  width: auto;
  padding-bottom: 2rem;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.errorMessage {
  color: #b16060;
}
::placeholder {
  font-size: 1.1rem;
  opacity: 1;
  color: #a9a9a9;
  font-family: "Space Grotesk";
  font-weight: 500;
  text-shadow: 0px 0px 4.815px rgba(183, 255, 255, 0.8);
  text-transform: uppercase;
}
.successText {
  // position: absolute;
  // bottom: -5vh;
  transform: translateY(-100%);
  margin-inline: auto;
  // left: 50%;
  text-transform: uppercase;
  width: max-content;
}
.recaptcha{
  display: flex;
  justify-content: center;
}
.successText::after{
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;

  margin-left: 5px;
  left: 0;
  animation:
    cursor 0.8s infinite,
    typing 3s steps(51) forwards;
  background-color: black;
}
@keyframes typing {
  100% {
    left: 100%;
  }
}
@keyframes cursor {
  100% {
    border-left: 1px solid var(--primary);
  }
}
@media only screen and (max-width: 550px) {
  label {
    font-size: 1rem;
  }
}
