@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

.logo {
    position: absolute;
    top: 1.5vw;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    height: 70px;
    object-fit: contain;

    @media screen and (max-height: 700px),
    screen and (max-width: 1100px) {
        top: 6px;
        height: 40px;
    }
}

.hamMenuButton {
    width: clamp(150px, 13vw, 240px);
    aspect-ratio: 2.7;

    outline: none;
    border: none;

    background-image: url("@assets/landing/hamMenuButton.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    background-color: transparent;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: clamp(90px, calc(9.4vw - 7px), 154px);
    pointer-events: all;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: border-color 0.2s ease-in-out;

    // visibility: visible;
    // opacity: 1;

    @media screen and (max-height: 700px) {
        top: 89px;
        width: 140px;
    }

    & * {
        transition: all 0.2s ease-in-out;
    }

    span {
        position: relative;
        top: -2px;

        font-size: 1rem;
        font-weight: 200;
        text-transform: uppercase;
        text-shadow: 0px 0px 14.815px rgba(154, 240, 244, 0.7);
        color: inherit;
        padding-inline: 0.5rem;
        transition: all 0.2s ease-in-out;

        @media screen and (max-height: 700px),
        screen and (max-width: 600px) {
            font-size: 0.7rem;
        }
    }

    &:hover {
        cursor: pointer;
        color: var(--hover-link);
        text-shadow:
            0px 0px 24.402px rgba(198, 50, 50, 0.86),
            0px 0px 3.754px rgba(198, 50, 50, 0.8);

        div div {
            background-color: var(--hover-link);
        }

        span {
            text-shadow: 0px 0px 14.815px var(--hover-link);
        }
    }
}

.pageContainer {
    width: 100lvw;
    height: 100dvh;
    position: relative;
    background-image: url(/images/sponsorPageBackground.png);
    background-size: 100lvw 100dvh;
    position: fixed;
    inset: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}

.pageWrapper {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 40px;
    grid-template-columns: 100vw;
    width: 100vw;
    height: calc(100dvh - 200px);
    justify-content: center;
    margin-top: 190px;
}

.firstRow,
.secondRow,
.remainingRows {
    a {
        div {
            text-align: center;
        }
    }
}

.remainingRows {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;

    .card {

        h2,
        p {
            line-height: 35.73px;
        }
    }
}

.card {
    text-decoration: none;
    font-size: 28px;
    // font-family: 'Space Grotesk' !important;

    img {
        width: 147px;
    }
}

.firstRow {
    .card {
        img {
            height: 68px;
            width: auto;
            // width: 335px;
        }
    }
}

.secondRow {
    .card {
        img {
            height: 57px;
            width: auto;
            // width: 335px;
        }
    }
}

.remainingRows {
    .card:last-of-type {
        img {
            height: 122px;
            width: auto;
        }
    }

    .card:first-of-type {
        img {
            height: 124px;
            width: auto;
        }
    }

    .card:nth-of-type(2) {
        img {
            height: 147px;
            width: auto;
        }
    }
}