@font-face {
  font-family: Alacrity Sans;
  src: url("/fonts/Alacrity Sans Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scrollbar-width: none;
  font-family: Alacrity Sans;
  color: var(--primary);
  user-select: none;
}

html {
  overflow: hidden;
}

*::-webkit-scrollbar {
  display: none;
}

:root {
  --primary: #9af0f4;
  --secondary: #4fcbe3;
  --primary-blue: #4675b8;
  --primary-red: #fbbfc1;
  --primary-grey: #777777;
  --primary-link: rgba(148, 242, 246, 0.72);
  --hover-link: #d8575b;
  --grey-text: rgba(215, 215, 215, 0.72);
}

body {
  background-color: black;
}

#root canvas {
  width: 100lvw !important;
  height: 100dvh;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #fff !important;
}

#username {
  text-transform: none;
}

#password {
  text-transform: none;
}

.loader {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: black;
  --width: 15px;
  --padding: 3px;
  --gap: 3px;
  --border: 3px;
}

.loaderWrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: calc(19 * var(--gap) + 2 * var(--padding) + 20 * var(--width) + 2 * var(--border));
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  font-size: 1.2rem;
  letter-spacing: 1.5px;
}

.progressBar {
  width: calc(100% - 2 * var(--border) - 2 * var(--padding));
  border: var(--border) solid #9AF0F4;
  height: 30px;
  padding: var(--padding);
  display: flex;
  flex-direction: row;
  gap: var(--gap);
}

.bar {
  background: none;
  height: 100%;
  width: var(--width);
  background-color: #9AF0F4;
}

@media screen and (max-width: 700px) {
  .loader {
    --width: 12px;
  }

  .loaderWrapper {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 500px) {
  .loader {
    --width: 10px;
    --gap: 2px;
    --padding: 2px;
  }

  .loaderWrapper {
    font-size: 1rem;
  }
}

@media screen and (max-width: 350px) {
  .loader {
    --width: 8px;
    --gap: 1.5px;
    --padding: 1.5px;
    --border: 2px;
  }

  .loaderWrapper {
    font-size: 1rem;
    gap: 0.3rem;
  }

  .progressBar {
    height: 25px;
  }
}